app = "scrybuy-api"
primary_region = "sjc"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1
processes = ["app"]

[mounts]
source = "data"
destination = "/data"

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "512mb"
memory_mb = 512
