app = "scrybuy-api"
primary_region = "sjc"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = "stop"
auto_start_machines = true
min_machines_running = 1
processes = ["app"]

[[vm]]
size = "shared-cpu-1x"
memory = "512mb"

[mounts]
source = "data"
destination = "/data"
